<!-- index.html -->
<!DOCTYPE html>
<html ng-app="myApp" >
<head>
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/> 
    <style>
        body    { padding-top:50px; }
    </style>
    
    <!-- JS ===================== -->
    <!-- load angular -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>

  <script src="js/app.js"></script>

  <script src="js/directives/loginDrc.js"></script>

  <script src="js/controllers/loginCtrl.js"></script>
  <script src="js/controllers/homeCtrl.js"></script>

  <script src="js/services/loginService.js"></script>
  <script src="js/services/sessionService.js"></script>
  <script src="js/controllers/mainController.js"></script>
</head>

<!-- apply angular app and controller to our body -->
<body ng-controller="mainController" >
    <ul>
         <li class="err" ng-repeat="error in errors"> {{ error}} </li>
    </ul>
    <ul>
        <li class="info" ng-repeat="msg in msgs"> {{ msg}} </li>
    </ul>
    <div class="container">
    <div class="col-sm-12 col-sm-offset-0">
<!-- apply angular app and controller to our body -->
<body ng-controller="mainController" >
<button class="btn btn-default" type="submit" ng-click="datafetch()" >ING1</button>
<button class="btn btn-default" type="submit" ng-click="datafetch()" >ING2</button>
<button class="btn btn-default" type="submit" ng-click="datafetch()" >ING3</button>
 <div ng-show="activation != null">
<legend>Recapitulatif des demandes </legend> 
        <br></br>




  <table  class="table" > 


    
    <tr>
        <td><b><center>NOM</center></b></td>
        <td><b><center>PRENOM</center></b></td>
        <td><b><center>Num ETUDIANT</center></b></td>
        <td><b><center>SPECIALITE</center></b></td>
        <td><b><center>EMAIL</center></b></td>
        <td><b><center>ANNEE</center></b></td>
        <td><b><center>MOTIF ABSCENCE</center></b></td>
        <td><b><center>DU</center></b></td>
        <td><b><center>AU</center></b></td>
        <td><b><center>ACTION</center></b></td>


        
    </tr>
    
        <tr ng-repeat="x in students"> 
        <td><center> {{x.nom}} </center></td>
        <td><center> {{x.prenom}} </center></td>
        <td><center> {{x.idstudent}}</center></td>
        <td><center> {{x.specialite}} </center></td>
        <td><center> {{x.email}} </center></td>
        <td><center> {{x.scholarship}} </center></td>
        <td><center> {{x.motif}} </center></td>
        <td><center> {{x.date_debut}} </center></td>
        <td><center> {{x.date_fin}} </center></td>
        
        </tr>
        </table>
  </div>    
</fieldset>
<div class="wrap">
	<a href="" ng-click="logout()">Logout</a>
</div>
</body>
</html>